<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>related tags recommender</title>
    <link rel="stylesheet" href="static/form.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montaga&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="flex-container">
      <div class="form">
        <h2 class="main">RELATED TAGS RECOMMENDER</h2>

        <form
          class="form-row"
          action="{{ url_for('retrieve_search') }}"
          method="post"
        >
          <label for="inputquery"> Enter Query:</label>
          <input
            type="text"
            name="text"
            value=""
            placeholder=" data science term(s)"
          />
          <br />
          <input type="submit" name="submit" value="submit" />
        </form>
      </div>
      <div class="footer">
        <footer>
          <p class="copy-right">© 2020 Gere.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
