<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tags related search</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Montaga&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/retrieve-search.css" />
  </head>

  <body>
    <div class="flex-container">
      <nav>
        <ul>
          <li><a href="{{ url_for('input_query_form')}}"> Home </a></li>
          <li>
            <a
              href="https://github.com/GERE-WELDIT/Data-Science-related-tags-recommender-app"
              target="_blank"
            >
              Source Code</a
            >
          </li>
        </ul>
      </nav>
      <div class="graph-tags">
        <h2>GRAPH-BASED RELATED TAGS</h2>
        <div class="">
          <p class="rel-tag">
            {{related_tags}}
          </p>
        </div>
        <!-- <div class="img">
          <img src="{{ graph_image }}" alt=" weighted-graph image" />
        </div> -->
      </div>
      <h2>Word2Vec RELATED TAGS</h2>
      <div class="word2vec">
        <p class="word2vec-rel-tag">
          {{word2vec_tags}}
        </p>
      </div>
      <div class="footer">
        <footer>
          <p class="copy-right">© 2020 Gere.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
